= @form.select @name,
  @select_options,
  @options,
  { **@props,
    class: 'max-w-sm block focus:ring-indigo-300 focus:border-indigo-300 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md' }
